@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
table{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  background-color: white;
}
body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #2f8cca, #d6c741);
}
.container{
  display: flex;
  max-width: auto;
  width: auto;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
input[type=text]{
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}
input[type=email]{
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}
input[type=tel]{
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}
input[type=number]{
  background: transparent;
  border: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
